body {
    background-color: brown;
    margin: 0px;
}

.contener {
    display: flex;
}

p {
    background-color: cyan;
    color: darkmagenta;
    width: 50%;
    padding: 10px;
}

.zolty {
    color: yellow;
}

form {
    background-color: green;
    text-align: center;
    width: 100%;
}

.srodek {
    text-align: center;
    width: 70%;
}

.boki {
    width: 15%;
}

.nav {
    background-color: black;
    height: 7%;
    justify-content: space-evenly;
}

.nav>* {
    color: white;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.nav>*:hover {
    text-decoration: underline;
    font-style: italic;
}

.selected {
    color: tomato;
}

img {
    width: 400px;
    margin: 20px;
}

.siatka {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

table {
    border-collapse: collapse;

}

th, td {

    border: solid 2px;
}

th {
    padding: 10px;
}

.niesrodek {
    justify-content: space-evenly;
}

.rozc>table {
    width: 100%;
}
.prawiesrodek{
    margin: 20px;
    text-align:center;
}